.div-container{
    width: 400px;
    height: 20px;
    background-color:seashell;
    margin: 1px ;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}
.div1{
    width: 400px;
    height: 40px;
    background-color:seashell;
    margin: 1px ;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.title{
    text-align: center;
    width: 400px;
    height: 50px;
    background-color:seashell;
    margin: 1px ;
    padding: 4px;
}

.span-edits{
    width: 408.5px;
    height: 300px;
    background: white;
    margin: 1px ;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.bod{
    display: flex;
    flex-wrap: wrap;
    background-color: skyblue;
    justify-content: center;
}

.img-redonda{
    width:90px;
    height:90px;
    border-radius:45px;
}

.logo{
    width:90px;
    height:90px;
    border-radius:45px;
}